*{
  box-sizing: 0;
}
.intro{
  text-align: justify;
  width: 70%;
  margin: 0 auto;
  padding: .5em 1em;
  font-size: 22px;
}
.subies{
  width: 70%;
  margin: auto;
  border-bottom: solid 1px lightgray
}
.subies-block {
  display: inline-block;
  height: 200px;
  min-width: 150px;
  max-width: 300px;
  line-height: 175px;
}
footer{
  text-align: center;
}
footer li{
  display: inline;
  margin-left: 20px;
}
footer a{
text-decoration: none;
}
